<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sv.edu.udb.carsmotorsapp">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CarsMotorsApp">
        <activity
            android:name=".VistaVehiculos"
            android:exported="true" />
        <activity
            android:name=".Registrarse"
            android:exported="false" />
        <activity
            android:name=".CrudUsuarios"
            android:exported="true" />
        <activity
            android:name=".CrudAutomovil"
            android:exported="true" />
        <activity
            android:name=".CrudTipoAuto"
            android:exported="true" />
        <activity
            android:name=".CrudColores"
            android:exported="true" />
        <activity
            android:name=".CrudMarcas"
            android:exported="true" />
        <activity
            android:name=".MenuAdmin"
            android:exported="false" />
        <activity
            android:name=".MenuCliente"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>